.page {
    min-height: 100vh;
    background: #C6E7FF;
    
    .todoListContainer {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
}