    li.todo {
        $borderColor: #ffeffb;
        $defaultBgColor: #D4F6FF;

        background: $defaultBgColor;
        display: grid;
        grid-template-columns: 1fr max-content max-content;
        border-top: 1px solid $borderColor;
        // align-items: center;;

        &:last-child {
            border-bottom: 1px solid $borderColor;
        }

        &.checked {
            background: var(--color4);
            label span {
                text-decoration: line-through;
            }
        }
        &.editing.checked label input[type='text'] {
            background: $defaultBgColor;
        }
        &.warning {
            background: rgb(255, 203, 82) !important;
        }

        label {
            $textSize: 15px;
            $textColor: #3AA6B9;

            padding: 8px 2px 7px 5px;
            cursor: pointer;
            display: grid;
            grid-template-columns: max-content auto;
            column-gap: 5px;

            input[type="checkbox"] {
                width: 14px;
                cursor: pointer;
            }

            span {
                font-size: $textSize;
                color: $textColor;
            }

            input[type="text"] {
                color: $textColor;
                font-size: $textSize;
                border: transparent;
                outline: none;
            }
        }

        .toolIcon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;

            img {
                cursor: pointer;
                height: 16px;
            }
        }
    }